@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: hsl(240, 70%, 10%);
}

.img {
  width: 150px;
  height: 80px;
  padding: 9px;
  margin-left: 4%;
}

.header {
  background: linear-gradient(grey, black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  gap: 50px;
  padding-left: 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding-right: 80px;
}

.nav-bar i {
  font-size: 36px;
  display: none;
}

#toogle-menu {
  display: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 100px;
  padding-bottom: 20px;
  font-weight: 100;
}

.img2 {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  border: 10px solid white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.h3 {
  color: white;
  margin-top: 50px;
  line-height: 50px;
}

div a {
  color: white;
  text-decoration: none;
  background: linear-gradient(grey, red);
  padding: 8px;
  border-radius: 15px;
  font-size: 12px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}

p {
  width: 65%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.h2 {
  background: linear-gradient(grey, pink) text;
  color: transparent;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}

.claseH2 {
  color: white;
  font-size: 40px;
}

.claseHH2 {
  color: white;
  font-size: 30px;
  margin-top: 20px;
}

.claseHHH2 {
  background: linear-gradient(to top, black, pink, blue) text;
  color: transparent;
  font-size: 30px;
  margin-top: 80px;
}

.claseH3 {
  background: linear-gradient(to top, brown, grey) text;
  color: transparent;
  font-size: 28px;
  text-decoration: underline;
  border-bottom: 4px solid red;
}

.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.container4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

/*PLANES DE SUSCRIPCION*/
.ajustarH2{
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
}

.container5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

button:hover {
  background-color: #87cefa;
}

/*BASIC*/
.caja1 {
  background-color: gray;
  border-radius: 30px;
  border: 5px solid white;
  width: 20%;
  height: 100%;
  text-align: center;
}
.c1 {
  font-size: 30px;
}

.imgPlanBasic {
  width: 30%;
  height: 30%;
}

button {
  background-color: red;
  border-radius: 10px;
  width: 25%;
  padding: 5px 5px;
  margin-top: 10px;
}

.btn {
  font-size: 14px;
  width: 30%;
  position: relative;
  bottom: 5px;
}

.btn2{
  font-size: 14px;
  width: 30%;
  margin-top: 20px;
}

/*PREMIUM*/

.caja2 {
  background-color: gray;
  border-radius: 30px;
  border: 5px solid white;
  width: 20%;
  height: 290px;
  text-align: center;
}
.c2 {
  font-size: 30px;
}

.imgPlanPremimum {
  width: 35%;
  height: 100%;
}

/**GOLD*/
.caja3 {
  background-color: gray;
  border-radius: 30px;
  border: 5px solid white;
  width: 20%;
  height: 35vh;
  text-align: center;
}

.c3 {
  font-size: 30px;
}

.imgPlanGold {
  width:26%;
  height: 100%;
}


/*POSTERS DE ANIMES*/
.container6{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
}

.ajustar2fila{
  margin-top: 20px;
}

.img3 {
  width: 350px;
  height: 300px;
  border-radius: 20px 20px 0 0;
}

.foto1{
  width: 350px;
  height: 400px;
 background-color: grey;
 border-radius: 20px;
}
.foto1:hover{
  background-color: #87CEFA;
}

.btnPoster1{
  background: linear-gradient(grey, red);
  width: 20%;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 145px;
}


.inputP1{
  width: 30px;
  height: 30px;
}

.btnMas{
  background: linear-gradient(grey, red);
  width: 10%;
  font-size: 20px;
  border-radius: 10px;
}

.btnMenos{
  background: linear-gradient(grey, red);
  width: 10%;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 130px;
}

.btnPoster1:hover{
  background: orange;
}
.btnMas:hover{
  background: orange;
}

.btnMenos:hover{
  background: orange;
}

.claseHH3 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}

.claseH{
  font-size: 40px;
  text-align: center;
  color:white;
  margin-top: 40px;
  padding-bottom: 20px;
}
.h5{ 
  color:white;
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
  padding-bottom: 20px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  background-color: grey;
  gap:20px;
}

.imgMapa{
  width: 35%;
  height: 100%;
  padding: 10px 10px;
  border-radius: 50px;
}
.btnForm{
  background: linear-gradient(grey, red);
  width: 60%;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
form{
  color:white;
  width: 11rem;
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 23px;
}

.container a:hover{
  background: skyblue;
  color:black;
}

/***ANIMACION****/

h1 {
  animation-duration: 1s;
  animation-name: move;
  text-decoration: underline;
}

@keyframes move {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}

/**ANIMACION ELEMENTO P (SACAR LUEGO)***/
/*
p{
   animation-duration: 1s;
   animation-name: move2;
}*/
@keyframes move2 {
  from {
    transform: translateY(1000px);
  }

  to {
    transform: translateY(0);
  }
}

/****MEDIA QUERIE****/

@media (min-width:320px) and (max-width: 576px) {
  .nav-bar ul {
    background-color: #272d37;
    opacity: 0.7;
    border-radius: 0 0 20px 20px;
    border: 5px solid blue;
    border-top: none;
    width: 90%;
    height: calc(100vh-80px);
    position: absolute;
    top: 80px;
    left: 5%;
    flex-direction: column;
    padding: 10px;
    display: none;
  }

  .nav-bar i {
    display: block;
  }

  #toogle-menu:checked ~ .nav-list {
    display: flex;
  }

  .container{
    display: flex;
    flex-direction: column;
  }
  .h3{
    text-align: center;
    width: 95%;
  }

  .img2{
    width:100%
  }

  .claseH2{
    text-align: center;
  }
  .claseHH2{
    text-align: center;
  }

  .container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120px;
  }
  .caja1{
    width: 75%;
    height: 50%;
  }

  .ajustarH2{
    position: relative;
    bottom: 80px;
  }
   
  .container6{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom:70px;
  }

 

  .img3 {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  
  .foto1{
    width: 300px;
    height: 400px;
   background-color: grey;
   border-radius: 20px;
  }
 
   .claseHH3{
    position: relative;
    bottom: 120px;
   }
   .claseH{
    position: relative;
    bottom: 60px;
   }
}

@media (max-width:768px){
  .container3{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 70px;
  }

  .container4{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 100px;
  }

  .container5{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .caja1{
    width: 75%;
    height: 50%;
  }

  .container6{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
  }

  
  .img3 {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  
  .foto1{
    width: 300px;
    height: 400px;
   background-color: grey;
   border-radius: 20px;
  }

 .btnMenos{
  margin-left: 32%;
 }

 .btnPoster1{
  margin-left: 38%;
 }

}

@media (min-width:768px) and (max-width:1200px){
  .container5{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .caja1{
    width: 75%;
    height: 50%;
  }

  .btn{
    width:30%;
  }

  .container6{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
  }


  .img3 {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  
  .foto1{
    width: 300px;
    height: 400px;
   background-color: grey;
   border-radius: 20px;
  }
  
  .btnMenos{
    margin-left: 32%;
   }
  
   .btnPoster1{
    margin-left: 38%;
   }
}



